<div class="wrapper">
  <mat-card>
    <mat-card-title>로그인</mat-card-title>
    <mat-card-content>
      <form [formGroup]="signInForm" (ngSubmit)="submit()">
        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Id" formControlName="id">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password">
          </mat-form-field>
        </p>
        <p *ngIf="id.touched && id.invalid && id.errors.required" class="error">
            Id is required
        </p>
        <p *ngIf="id.touched && id.invalid && id.errors.email" class="error">
            Please enter valid email
        </p>
        <p *ngIf="password.touched && password.invalid && password.errors.required" class="error">
            Password is required
        </p>
        <div class="button">
          <button type="submit" mat-stroked-button [disabled]="!signInForm.valid">Login</button>
          <button mat-raised-button color="primary" routerLink="/signup">SignUp</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
